*.pyc
*.cache
*.dll
*.pyo
*.pyd
*.o
web/flask/uploads/vlc-record-2017-11-09-10h47m32s-test.mp4-.mp4
web/flask/uploads/log.txt
web/*
python/qt/GenConfigTool/build/*
python/qt/GenConfigTool/dist/*
c++/study/cmake_demo/build/*
c++/study/cmake_demo/*.exe
c++/study/cmake_demo/*.o
c++/qt/build*

