{sys,
   [
   {lib_dirs,["E:/dzr/my_erlang_release/"]},
   {boot_rel, "fs_watcher"},
   {rel, "fs_watcher", "0.1", [kernel, stdlib, fs_watcher]},
   {relocatable, true},
   {profile, embedded},
   {app_file, keep},
   {debug_info, keep},
   {mod_cond, all},
   % {incl_cond, derived},
   {incl_cond, exclude},

   {incl_app_filters, ["^include", "^priv", "^ebin", "^src"]},
   {excl_app_filters, []},

   {incl_archive_filters,[]},
   {excl_archive_filters,[".*"]},

   {app, kernel, [{incl_cond, include}]},
   {app, stdlib, [{incl_cond, include}]},
   % {app, sasl, [{incl_cond, include}]},
   {app, fs_watcher, [{incl_cond, include},
                   {incl_app_filters, [".*"]},
                   {excl_app_filters, ["^log", "^var", "^release", "^config", "^script", "^notifu", "^cwRsync"]}]}
   % {app, runtime_tools, [{incl_cond, include}]}
   ]
}.